.composeContainer {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7c7777;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .closeDiv {
    text-align: right;
  }
  
  .close {
    padding: 8px 16px;
    width: fit-content;
    background-color: #aa3518;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 6px;
  }
  .close:hover{
    background-color: #d83b14 ;
  
  }
  
  .mail {
    margin-bottom: 20px;
  }
  
  .mail input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .action {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #27cc2c;
  }
  