.container{
    display: grid ;
    grid-template-columns: auto 80px;
    box-shadow: 0 0 0 2px #ccc;
    padding: 10px;
    margin: 0 12px 12px 12px;
  
  }
  .container h4, .container p{
    margin: 0;
  }
  
  .email {
      display: grid;
      grid-template-columns: 10px 200px auto 100px;
      cursor: pointer;
      margin: 8px 10px;
      align-items: center;
      padding: 0 10px;
      width: 100%;
    }
    .email h4 {
      margin-left: 8px ;
    }
    
    .email p {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
   .isRead svg {
    color: blue;
    font-size: 8px;
   }
  
   .container button{
    color: white;
    background-color: rgb(199, 35, 35);
    cursor: pointer;
   }
  
   .container button:hover{
    background-color: red;
   }
   .delete{
    display: flex;
    align-items: center;
    justify-content: center;
   }