.email {

    display: grid;

    grid-template-columns: 200px auto 100px;

    box-shadow: 0 0 0 2px #ccc;

    cursor: pointer;

    margin: 8px 10px;

    align-items: center;

    gap: 20px;

    padding: 0 10px;

  }




  .email p {

    display: -webkit-box;

    -webkit-line-clamp: 1;

    -webkit-box-orient: vertical;

    overflow: hidden;

    text-overflow: ellipsis;

  }