nav {
    display: flex;
    flex-direction: column;
    background-color: #776565;
    padding: 10px;
    width: 100px;
    height: 300px;
  }

  nav a {
    text-decoration: none;
    color: #eedada;
    padding: 5px 10px;
  }

  nav a:hover {
    background-color: #292424;
    border-radius: 4px;
  }
